<div class="h-screen w-64 bg-gray-900 text-white flex flex-col p-4">
  <h1 class="text-xl font-bold mb-6">Menú</h1>
  <nav class="flex flex-col gap-4">
    <a routerLink="/agentes" routerLinkActive="font-semibold text-blue-400"
      class="transition-colors duration-200 hover:text-blue-300 hover:bg-gray-800 rounded px-2 py-1">Lista de
      agentes</a>
    <a routerLink="/crear" routerLinkActive="font-semibold text-blue-400"
      class="transition-colors duration-200 hover:text-blue-300 hover:bg-gray-800 rounded px-2 py-1">Crear agente</a>
    <a routerLink="/cursos" routerLinkActive="font-semibold text-blue-400"
      class="transition-colors duration-200 hover:text-blue-300 hover:bg-gray-800 rounded px-2 py-1">Cursos</a>
  </nav>
</div>